.App {
  text-align: center;
}

/* Section Navigation Bar */
.centered-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-link {
  color: yellow;
}
/* End Section Navigation Bar */

/* Section Popular Movie */
.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color:black;
}

.Movie-search {
  height:48px;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: bold;
  width: 475px
}

.Movie-search::placeholder {
  text-align: center;
}
/* End Section Popular Movie */